# Config file
config.yml

data
scripts
node_modules
docker-compose.yml
Dockerfile
CODEOWNERS

/tmp/tmp-*-data.json
/cachedData.json
debug_*.csv
*.sh
*.md

# Hidden files
.git
.gitignore
.dockerignore
.eslintrc.js
.gitlab-ci.yml
